.flex {
  display: flex;
}

.flex.align-center {
  align-items: center;
}

.flex.justify-center {
  justify-content: center;
}

.flex.space-between {
  justify-content: space-between;
}

.flex.flex-column {
  flex-direction: column;
}

.flex.flex-row {
  flex-direction: row;
}

.flex.hidden {
  display: none;
}

.grid {
  display: grid;
}
