.meme-editor {
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 20px;
  justify-content: center;
  width: 80%;
  gap: 20px;
}

.editor-section {
  background-color: var(--clr7);
  width: 400px;
  height: 400px;
  border-radius: 20px;
  padding: 10px;
}

.canvas-container {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
}

canvas {
  border-radius: 25px;
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
}

.edit-btn {
  font-size: 30px;
  color: var(--clr4);
  border: none;
  margin: 7px;
  cursor: pointer;
  border-radius: 10px;
  height: 40px;
  width: 40px;
  padding: 5px;
  background-color: var(--clr6);
}

.edit-btn:hover {
  box-shadow: 0 0 10px 1px var(--clr3);
}

.color-input {
  height: 40px;
  width: 40px;
  padding: 2px;
  margin: 7px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.color-input:hover {
  box-shadow: 0 0 10px 1px var(--clr3);
}

.txt-input {
  width: 70%;
  border: none;
  border-radius: 10px;
  height: 30px;
  padding: 10px;
  margin-bottom: 20px;
  color: var(--clr6);
  border: 2px solid var(--clr3);
  background-color: var(--clr1);
  font-size: large;
}

.txt-input:hover {
  box-shadow: 0 0 10px 1px var(--clr3);
}
