.meme-gallery {
  width: 100%;
  border-radius: 50px;
}

.gallery-img {
  cursor: pointer;
  border-radius: 20px;
}

.gallery-img:hover {
  opacity: 0.9;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.422);
}

.images-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 150px));
  justify-content: space-around;
  gap: 15px;
  transition: 0.4s;
}
