.main-header {
  max-height: 50px;
  background-color: var(--clr4);
  border-radius: 30px;
  padding: 20px;
}

.main-header .main-nav > *:not(:last-child) {
  margin-inline-start: 300px;
}

.main-header .btn {
  cursor: pointer;
  border: none;
  font-family: Poppins, sans-serif;
  border-radius: 30px;
  height: 40px;
  margin: 0 auto;
  padding: 5px 15px;
  background-color: var(--clr6);
  color: var(--clr4);
}

.btn:hover {
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.322);
}
